.task-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px black solid;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: auto;
  width: 190px;
}

.tasl-item p {
  display: flex;
  justify-self: start;
}
.task-list {
  width: 350px;
  padding: 5px;
}

.todo-container {
  /* padding-top: 50px; */
  border-radius: 30px;
  width: 350px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: 10px;
  color: black;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.deleteAll {
  background-color: green;
  border-radius: 5px;
  border: 3px black solid;
  font-weight: bold;
  height: 30px;
  margin-bottom: 10px;
}

.deleteAll:hover {
  background-color: red;
}

.list-delete {
  display: focus;
  color: black;
  font-weight: bold;
  background-color: darkgreen;
  border: none;
}

.list-delete:hover {
  background-color: red;
  color: black;
  border-radius: 5px;
  height: 30px;
  border: 2px solid black;
  border-radius: 100%;
}

body {
  padding-top: 40px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
